/* main page */
body {
  background-color: black;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  margin: 1em;
}

.game-container img {
  width: 500px;
  height: auto;
  border: none;
  border-radius: 30px;

  transition: 0.05s;
}

.game-container img:hover {
  transform: scale(1.025);
  filter: blur(0.5px) contrast(105%);
  backdrop-filter: blur(10px);
}

.game-container div {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  background-color: #0a0f15;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px;
}

.gameInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  background-color: #a5a5a5;
  color: black;
  border: none;
  border-radius: 30px;
}

.settings-icon {
  display: flex;
  justify-content: flex-end;
}

.settings-icon img {
  margin: 10px;
  width: 40px;
  height: auto;
  cursor: pointer;
}
.settings-icon img:hover {
  transform: scale(1.1);
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  background-color: #0a0f15d3;
  border-radius: 50px;
  padding: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 80px;
}

.header img {
  margin: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  filter: brightness(500%);
}

.header img:hover {
  transform: scale(1.1);
}

#text .content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column wrap;

  padding: 50px;
  gap: 50px;
  font-weight: 200;
  font-size: 30px;
}

.add-game,
.remove-game,
.change-playtime {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 30px;
  background-color: #1b283849;
  border-radius: 50px;
}

.add-game *,
.remove-game *,
.change-playtime * {
  cursor: pointer;
}

.add-game:hover,
.remove-game:hover,
.change-playtime:hover {
  background-color: #1b28389f;
}

input[type="file"]::file-selector-button {
  visibility: hidden;
}
