/* main page */
body {
  background-color: black;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  margin: 1em;
}

.game-container img {
  width: 500px;
  height: auto;
  border: none;
  border-radius: 30px;

  transition: 0.05s;
}

.game-container img:hover {
  transform: scale(1.025);
  filter: blur(0.5px) contrast(105%);
  backdrop-filter: blur(10px);
}

.game-container div {
  background-color: #0a0f15;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px;
}

.gameInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  background-color: #a5a5a5;
  color: black;
  border: none;
  border-radius: 30px;
}

.settings-icon {
  display: flex;
  justify-content: flex-end;
}

.settings-icon img {
  margin: 10px;
  width: 40px;
  height: auto;
}
.settings-icon img:hover {
  transform: scale(1.1);
}

/* settings page */
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  color: white;

  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */

  font-size: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 50px;
}

.header img {
  margin: 10px;
  width: 40px;
  height: auto;
  filter: invert(1);
}

.header img:hover {
  transform: scale(1.1);
}
