/* main page */
body {
  background-color: black;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  gap: 25px;
  margin: 1em;
}

.game-container img,
.placeholder {
  width: 350px;
  height: auto;
  border: none;
  border-radius: 6px;

  transition: 0.1s;
}

.game-container img:hover,
.placeholder:hover  {
  transform: scale(1.05);
  filter: blur(0.25px);
  cursor: pointer;
}

.game-container div {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
}

.gameInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  background-color: #0a0f15;
  color: black;
  border: none;
  border-radius: 30px;
  margin: 25px;
}

.add-game {
  display: flex;
  justify-content: flex-end;
}

.add-game svg {
  margin: 10px;
  width: 40px;
  height: auto;
  cursor: pointer;
}
.add-game svg:hover {
  transform: scale(1.1);
}

/* settings page */

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* Black background with opacity */
  backdrop-filter: blur(3px); /* Blur the background */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  border-radius: 6px;
  padding: 50px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: 300;
  font-size: 40px;
  padding: 25px
}

.header svg {
  margin: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header svg:hover {
  transform: scale(1.1);
}

.content {
  background-color: #23262e;
}

#text .content {
  padding: 0;
  gap: 0;
  margin: 0;
  font-weight: 200;
  font-size: 30px;
}

.remove-game,
.change-playtime,
.change-icon {
  padding: 30px;
  background-color: #23262e;
}

.add-game *,
.remove-game,
.change-playtime,
.change-icon {
  cursor: pointer;
}

.remove-game:hover,
.change-playtime:hover,
.change-icon:hover {
  background-color: #3d4450;
}
