<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Time Tracker</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}" />
  </head>
  <body>
    <div class="add-game">
      <label for="add-game">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#e8eaed">
          <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
        </svg>
      </label>
      <input
        type="file"
        name="file"
        id="add-game"
        accept=".exe"
        style="display: none" />
    </div>

    <div id="overlay">
      <div id="text">
        <div class="header">
          <div class="title">Settings</div>
          <svg
            onclick="off()"
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#e8eaed">
            <path
              d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
          </svg>
        </div>

        <div class="content">
          <div class="remove-game">
            Remove game
            <div class="warning" style="color: maroon">
              WARNING: THIS WILL REMOVE ALL PLAYTIME PERMANENTLY
            </div>
          </div>

          <div class="change-playtime">
            <label for="change-playtime">
              what should the new playtime be (hrs)
            </label>
            <input type="text" name="change-playtime" id="change-playtime" />
          </div>

          <div class="change-icon">
            <label for="change-icon"> Find the url for the icon you would like to have </label>
            <input type="text" name="change-icon" id="change-icon" />
          </div>
        </div>
      </div>
    </div>

    <div class="game-container"></div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
