<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Time Tracker</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}" />
  </head>
  <body>
    <div class="main-header">
      <div class="refresh header-button">
        <svg
          onclick="location.reload();"
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#e8eaed">
          <path
            d="M480-160q-134 0-227-93t-93-227q0-134 93-227t227-93q69 0 132 28.5T720-690v-110h80v280H520v-80h168q-32-56-87.5-88T480-720q-100 0-170 70t-70 170q0 100 70 170t170 70q77 0 139-44t87-116h84q-28 106-114 173t-196 67Z" />
        </svg>
      </div>


      <div class="add-game header-button">
        <label for="add-game">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#e8eaed">
            <path
              d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
          </svg>
        </label>
        <input
          type="file"
          name="file"
          id="add-game"
          accept=".exe"
          style="display: none" />
      </div>
    </div>

    <div id="overlay">
      <div id="text">
        <div class="header">
          <div class="title"></div>
        </div>

        <div class="content">
          <div class="change-playtime setting">Change Playtime</div>

          <div class="change-icon setting">Change Icon</div>

          <div class="remove-game setting">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="32px"
              viewBox="0 -960 960 960"
              width="32px"
              fill="#e8eaed">
              <path
                d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
            </svg>
            Remove Game
          </div>

          <div class="cancel setting" onclick="off()">Cancel</div>
        </div>
      </div>
    </div>

    <div class="game-container" oncontextmenu="return false;"></div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
