<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Time Tracker</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <!-- Hero Section -->
    <div class="game">

        <div class="game__container">

            <div class="game__item">
                <div class="ghost-of-tsushima__img--container">
                    <img class="game__img" src="../static/icon/Ghost of Tsushima DIRECTOR'S CUT.jpg" />
                    <div class="game__playtime" id="playtime-ghost">Playtime: 5.5hrs</div>
                    <div class="game__recent_playtime" id="recent-playtime-ghost">Recently Played: 25mins</div>
                </div>
            </div>

            <div class="game__item">
                <div class="forza-horizon-5__img--container">
                    <img class="game__img" src="../static/icon/Forza Horizon 5.jpg" />
                    <div class="game__playtime" id="playtime-forza">Playtime: 1.3hrs</div>
                    <div class="game__recent_playtime" id="recent-playtime-forza">Recently Played: 0mins</div>
                </div>
            </div>

        </div>
    </div>
    <script src="../static/js/script.js"></script>

</body>
</html>
